*,*::after,*::before{
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 300px;
    height: 300px;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11px;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
}

.number{
    --rotaion:0;
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
    height: 100%;
    text-align: center;
    color: white;
    transform: rotate(var(--rotation));
}

.number1{--rotation:30deg;}
.number2{--rotation:60deg;}
.number3{--rotation:90deg;}
.number4{--rotation:120deg;}
.number5{--rotation:150deg;}
.number6{--rotation:180deg;}
.number7{--rotation:210deg;}
.number8{--rotation:240deg;}
.number9{--rotation:270deg;}
.number10{--rotation:300deg;}
.number11{--rotation:330deg;}

.clock .hand{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    transform-origin: bottom;
    z-index: 10px;
    border: 1px solid rgb(0, 0, 0);
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.second{
    width: 3px;
    height: 45%;
    background-color: red;
}


.minute{
    width: 7px;
    height: 40%;
    background-color: black;
}


.hour{
    width: 10px;
    height: 35%;
    background-color: black;
}